{#- _includes/components/nav-writing.njk
    Top nav for writing pages.
    Back link points to writing section on homepage. -#}
<nav class="nav">
  <a class="nav-back" href="{{ '/' | url }}#writing"><span>←</span> All writing</a>
  <a class="nav-name" href="{{ '/' | url }}">Your Name</a>
</nav>
